@import "../../../../assets/styles/variables";

.newsDetails {
    padding: 10px 100px 32px 100px;

    .back {
        margin-bottom: 8px;
        .backButton {
            margin: 0 8px 0 0;
        }
    }

    .headerDetails {
        display: block;

        h1 {
            padding: 0 0 8px 0;
        }
    }

    .content {
        padding: 16px 0 0 0;

        .short {
            padding: 0 0 8px 0;
            font-weight: bold;
        }
    }
}