<div class="newsDetails" [ngClass]="{'container': !showNewsForm}" *ngIf="!showNewsForm">
  <div class="row back">
    <button class="button button-small backButton" routerLink="/dashboard">Back</button>
    <button class="button button-small" (click)="showNewsForm=true">Edit</button>
  </div>
  <div class="headerDetails row">
    <h1>{{news.title}}</h1>
    <p><small>{{news.dateCreated | polishDate | uppercase}}</small></p>
  </div>
  <div class="content row">
    <p class="short">{{news.contentShort}}</p>
  </div>
  <div class="row content">
    <p>{{news.contentFull}}</p>
  </div>
</div>
<div class="row newsDetails addingNews" [ngClass]="{'container': showNewsForm}" *ngIf="showNewsForm">
  <button class="button button-small" (click)="showNewsForm=false">Back</button>
  <div class="row headerNews">
    <h1>Edit news</h1>
    <br />
    <p>{{ description }}</p>
  </div>
  <div class="row">
    <app-add-news-form style="width: 100%;" [(news)]="news" (saveNews)="saveNews($event)"></app-add-news-form>
  </div>
</div>