@import "../../../../assets/styles/variables";

.content {
  display: flex;
  justify-content: center;
  align-content: center;

  .imgContainer {
    display: flex;
    justify-content: center;

    .imgBase {
      figure {
        padding: 0 10px;
        img {
          width: 450px;
        }
      }
    }

    .imgList {
      align-self: flex-start;

      figure {
        padding: 0 0 8px 0 !important;

        img {
          width: 100px;
          height: auto;
        }
      }
    }
  }

  .headerGallery {
    padding: 0 0 0 24px;

    .borderBottom {
      border-bottom: 1px solid $accent-color;
      .headerTitle {
        display: flex;

        h2 {
          margin: 0 16px 0 0;
        }

        button.button-small {
          margin: 0 0 8px 0;
        }
      }

      .tags {
        display: flex;
        padding: 16px 0 24px 00;
        
        .tag {
          padding: 4px 8px;
          background-color: $lighter-gray;
          margin: 0 8px 0 0;
          
          &:last-child {
            margin: 0;
          }
        }
      }
      .description {
        padding: 0 0 16px 0;
      }
    }

    &.commentSection {
      margin: block;
    }
  }
}

.addingGallery {
  .addingHeader {
      display: flex;
      padding-top: 32px;
      padding-bottom: 32px;
      .button-back {
          margin: 0 16px 0 0;
      }
  }
}