@import "../../../../assets/styles/variables";

.commentContent {
  width: 60%;

  .commentHeader {
    padding: 0 0 16px 0;
  }

  .formContent {
    width: 100%;

    .row {
      padding: 0 0 16px 0;

      textarea {
        min-height: 32px;
        max-height: 160px;
      }

      &.buttonRow{
        display: flex;
        justify-content: center;
      }
    }
  }
}