@import "../../../../assets/styles/variables";

.commentForm {
    width: 60%;
    margin: 0 0 32px 0;
  .commentHeader {
    padding: 0 0 16px 0;
    display: flex;
    align-items: baseline;
    h4 {
      padding-right: 8px;
    }
  }

  form {
    .input-control {
      margin-bottom: 16px;
    }
    .nameRow {
      display: flex;

      .firstRow,
      .lastRow {
        width: 100%;
      }

      .firstRow {
        margin-right: 8px;
      }
    }
    .form-error {
      margin-bottom: 16px;
    }
  }
}

.commentList {
  .commentItem {
    padding: 24px 16px;
    border-top: 1px solid $lighter-gray;
    .commentItemHeader {
      margin: 0 0 16px;
      .commentName {
        display: flex;
        align-items: center;
        padding: 0 0 8px 0;
        h5 {
          padding-right: 8px;
        }
        .commentDate {
          padding-right: 8px;
          font-size: 14px;
          color: $light-gray;
        }
      }

    }
  }
}
