<nav class="navbar container" id="mainNav">
  <div class="row row-align-right">
    <div class="grid-3"></div>
    <div class="grid-6 logo">
      <img alt="logo" src="{{logoUrl}}">
    </div>
    <div class="grid-3 links">
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="is-active">Dashboard</a></li>
        <li><a routerLink="/galleries" routerLinkActive="is-active">Galleries</a></li>
        <li><a routerLink="/contact" routerLinkActive="is-active">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>