@import "../../../assets/styles/variables";
@import "../../../assets/styles/buttons";

nav {
    border-bottom: 1px solid $accent-color;

    .logo {
        img {
            width: 200px;
            height: auto;
        }
    }

    .links {
        

    }
    
}