@import "../../../../assets/styles/variables";

.dashboard {
    .headerNews {
        display: grid;
        justify-content: center;
        padding: 0 0 40px 0;

        h1, p {
            text-align: center;
        }

        p {
            color: $dark-gray;
            width: 600px;
        }
    }

    .navigationDashboard {
        display: flex;
        align-items: center;
        .button.button-small {
            margin: 0 8px 0 0;
            i {
                margin: 0 4px 0 0 !important;
            }
        }
    }

    .updates {
        display: flex;
        align-items: center;
        justify-content: center;
        .updatesItem {
            border: 1px solid $light-gray;
            border-radius: 5px;
            padding: 16px 28px;
            margin-top: 16px;
            width: 80%;

            .newsHeader {
                display: flex;
                justify-content: space-between;
                .header h3 {
                    padding: 0 0 8px 0;
                }

                .readMore {
                    button:last-child {
                        margin: 0 0 0 8px;
                    }
                }
            }

            .shortContent {
                padding: 16px 0 0 0;
            }
        }
    }

    .paging {
        padding: 0 0 24px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa {
            color: $dark-gray;
        }

        .button {
            &.active {
                background-color: $brand-primary;
                border-color: $brand-primary;
            }

            &.left, &.right {
                line-height: unset;
                background-color: $white;
                border: 1px solid $gray;
            }

            &.left {
                padding: 6px 12px 6px 10px;
                margin: 0 8px 0 0;
            }

            &.right {
                padding: 6px 10px 6px 12px;
            }
        }

        span {
            margin: 0 8px 0 0;

            &:last-child {
                margin: 0;
            }
        }

        .pages {
            margin: 0 0 0 8px !important;
        }
    }
}