@import "../../../../assets/styles/variables";

.header {
    padding: 0 0 40px 0;
    text-align: center;
    display: grid;
    justify-content: center;

    p {
        color: $dark-gray;
        width: 600px;
    }
}

.navigationGallery {
    padding: 0 0 24px 0;
    display: flex;
    justify-content: space-between;
        
    .buttons {
        span {
            margin: 0 16px 0 0;
        }

        button {
            margin: 0 16px 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    .search {
        display: flex;

        .searchBreak {
            margin: 0 16px 0 0;
        }
    }
}

.galleryItemsCentered {
    display: flex;
    justify-content: center;

    .imgBox {
        margin: 0 32px;
    }

    .paging {
        padding: 0 0 24px 0;
        .button {
            i {
                margin: 0 4px 0 0 !important;
            }
            .fa {
                color: $dark-gray;
            }
            
            &.active {
                background-color: $brand-primary;
                border-color: $brand-primary;
            }

            &.left, &.right {
                line-height: unset;
                background-color: $white;
                border: 1px solid $gray;
            }

            &.left {
                padding: 6px 12px 6px 10px;
                margin: 0 8px 0 0;
            }

            &.right {
                padding: 6px 10px 6px 12px;
            }
        }

        span {
            margin: 0 8px 0 0;

            &:last-child {
                margin: 0;
            }
        }

        .pages {
            margin: 0 0 0 8px !important;
        }
    }
}

.addingGallery {
    .addingHeader {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
        .button-back {
            margin: 0 16px 0 0;
        }
    }
}
